<kendo-toolbar>
  <kendo-toolbar-dropdownbutton
    text="Customer_Outcome"
    [data]="(groupDescData$ | async)!">
  </kendo-toolbar-dropdownbutton>

  <kendo-toolbar-dropdownbutton
    text="Understand"
    [data]="(measurementDescData$ | async)!">
  </kendo-toolbar-dropdownbutton>
</kendo-toolbar>

<kendo-grid title="External Metrics" [kendoGridBinding]="(tableData$ | async)!"
  kendoGridSelectBy="id">
  <kendo-grid-column
    [width]="365"
    title="Team Name">
      <ng-template kendoGridCellTemplate>
        <div class="cell-value">
        </div>
      </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    title="Today"
    [width]="138">
    <ng-template kendoGridCellTemplate>

      <div class="cell-value"></div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    title="MTD"
    [width]="138">
    <ng-template kendoGridCellTemplate>

      <div class="cell-value"></div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column title="YTD"
                     [width]="138">
    <ng-template kendoGridCellTemplate>

      <div class="cell-value"></div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

