@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

body {
  background-color: rgba(102, 105, 104, 0.9);
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
  background-image: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(102, 105, 104, 0.9), rgba(93, 112, 119, 0.89), rgba(160, 174, 150, 0.9));
  background-attachment: fixed, fixed;
  height: auto;
  padding: 0 !important;
  font-family: "Noto Sans", "Noto Sans CJK {JP, KR, SC, TC}", "Open Sans", "sans-serif, Helvetica, Arial" !important;
  font-weight: 500;
  font-size: 1.5em;
  color: #e6e6e6 !important;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

